<!-- Головний контейнер сторінки -->
<div class="home-container">
  <!-- Секція категорій -->
  <div class="categories">
    <h1>Категорії товарів</h1>
    <ul>
      <!-- Виводимо категорії -->
      <li *ngFor="let category of categories" class="category-item" (click)="onCategoryChange(category.id)">
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
  
        <!-- Виводимо підкатегорії для цієї категорії -->
        <div class="subcategories">
          <h3>Підкатегорії:</h3>
          <ul>
            <li *ngFor="let subcategory of getSubcategories(category.id)" class="subcategory-item">
              <a [routerLink]="['/products', subcategory.id]">
                {{ subcategory.name }}
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>
